{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.operation|capitalize ~ ' character ' ~ form.vars.value.name }}{% endblock %}

{% block body %}
    {% if form.vars.operation == 'delete' %}
        <p>You are deleting character <em>{{ form.vars.value.name }}</em> from category <em>{{ form.vars.value.category }}</em>. Are you sure you want to continue?</p>
    {% endif %}
    {{ form(form) }}
{% endblock %}