{% extends 'base.html.twig' %}

{% block body %}
    {% if content is not empty %}
        <ul>
            {% for sourceId, element in content %}
                <li>{{ element.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}