{% extends 'base.html.twig' %}

{% block title %}Available sources list{% endblock %}
{% block body %}
    {% for source in sources %}
        <div>{% if source.info.name.value %}{{ source.info.name.value }}{% endif %}</div>
    {% endfor %}
{% endblock %}