{% extends 'base.html.twig' %}

{% block title %}Available sources list{% endblock %}
{% block body %}
    {% for item in sources %}
        {% if item.name %}
            <div>
                <h3>{{ item.name }}</h3>
                <i>{{ item.description }}</i>
            </div>
        {% else %}
            <div><i>Possibly broken source at:</i> {{ item.filePath }}</div>
        {% endif %}
    {% endfor %}
{% endblock %}